.printer-card {
  background: rgba(31, 40, 51, 0.6);
  border: 1px solid var(--border-color);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.printer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid var(--border-color);
}

.printer-model {
  margin: 0;
  color: var(--text-secondary);
  font-family: monospace;
  letter-spacing: 1px;
}

.status-indicator {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status-text {
  font-size: 0.7rem;
  color: var(--dim);
  font-family: monospace;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.printer-body {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  gap: 2rem;
  border-bottom: 1px solid var(--border-color);
}

.printer-img-container {
  flex: 1;
  border: 1px solid var(--border-color);
  padding: 5px;
}

.printer-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.printer-specs {
  flex: 1;
}

.printer-specs h4, .printer-footer h4 {
  margin-top: 0;
  color: var(--dim);
  font-size: 0.8rem;
  border-bottom: 1px dashed var(--border-color);
  padding-bottom: 5px;
}

.printer-specs ul {
  line-height:3;
  list-style: none;
  padding: 0;
  font-family: monospace;
  font-size: 1.5rem;
  color: var(--text-primary);
}

/* Footer Logs */
.printer-footer {
  padding: 1.5rem;
  background: rgba(11, 12, 16, 0.5);
}

.log-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns of logs */
  gap: 10px;
}

.log-list li {
  font-size: 0.85rem;
  color: #a0a0a0;
}

.log-arrow {
  color: var(--text-secondary);
  font-weight: bold;
}

@media (max-width: 768px) {
  .printer-body {
    flex-direction: column;
  }
  .log-list {
    grid-template-columns: 1fr;
  }
}